.bioView{
    vertical-align: center;
    padding: 15px;
    size: 100%;
}

.bioInfo{
    text-align: center;
    padding: 15px;
}

.bioParagraph{
    margin-left: 10px;
    text-align: center;
    padding: 15px;
    
}
