.main-wrapper{
  display: flex;
  /* padding-top: 40px; */
  padding-left: 20px;
  padding-right: 20px;

}

.map-container {
    height: calc(100vh - 90px);
    width: 100%;
    padding-right: 175çpx;
    /* margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 15vw; */
  }
  
  .measuring-tool {
    margin: 20px auto;
  }
  
  .main-wrapper{
    display: flex;
  }
  .main-wrapper .create{
    flex: 50%;
    height: 80px;
    padding-top: 8vh;
    padding-right: 50px;
    padding-left: 25px;
  }
  .main-wrapper .find {
    flex: 50%;
    height: 80px;
    padding-top: 8vh;
    padding-right: 25px;
    padding-left: 50px;
  }

  #create{
    height: 80px;
    width: 100px;
    margin: 5px;
    border-radius: 20px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
    transition-duration: 0.4s;

  }

  #find{
    height: 80px;
    width: 100px;
    margin: 5px;
    margin-left: 30px;
    border-radius: 20px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
    transition-duration: 0.4s;

  }
  /* .create button{
    border: none;
    text-decoration: none;
    font-size: large;
    color: white;
    background-color: #6bb8d1;
    cursor: pointer;
    transition-duration: 0.4s;
  } */

  /* .find button{
    border: none;
    text-decoration: none;
    font-size: large;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #6bb8d1;
    cursor: pointer;
    transition-duration: 0.4s;
  } */
  
  #create:hover {
    background-color:darkgoldenrod;
  }

  #find:hover {
    background-color: darkgoldenrod;
  }
 