.map-container {
    height: calc(100vh - 90px);
    width: 100%;
    padding-right: 175çpx;
    /* margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 15vw; */
  }
  
  .measuring-tool {
    margin: 20px auto;
  }
  
  .main-wrapper{
    display: flex;
  }
  .main-wrapper .create{
    flex: 50%;
    height: 80px;
    padding-top: 8vh;
    padding-right: 50px;
    padding-left: 25px;
  }
  .main-wrapper .find {
    flex: 50%;
    height: 80px;
    padding-top: 8vh;
    padding-right: 25px;
    padding-left: 50px;
  }
  .create button{
    border: none;
    text-decoration: none;
    font-size: large;
    color: white;
    background-color: #6bb8d1;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .find button{
    border: none;
    text-decoration: none;
    font-size: large;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #6bb8d1;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .reset-button:hover {
    background-color: #437e91;
  }

 