
.column-find {
  float: left;
  padding: 10px;

}

.left-find {
  width: 65%;

  padding-left: 0px;
}

#back{
  margin-top: 200px;
  margin-left: 75px;
  color:black;
}

#next{
 margin-top: 200px;
  margin-left: 600px;
  color:black;
}
.right-find {
  width: 35%;
  padding-left: 20px;
  padding-top: 75px;
} 



.row:after {
  content: "";
  display: table;
  clear: both;
}

#find-find{
  height: 80px;
  width: 130px;
  margin: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color:black;
  cursor: pointer;
  transition-duration: 0.4s;

}

#create-find{
  height: 80px;
  width: 130px;
  margin: 0px;
  margin-left: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.4s;

}

#create-find:hover {
  background-color:#CFAE70;
}

#find-find:hover {
  background-color:black;
}

.navButtons-find{
  padding-left: 30px;

}



#search-button{
  height: 80px;
  width: 130px;
  margin-top: 50px;
  border-radius: 20px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color:black;
  cursor: pointer;
  transition-duration: 0.4s;

}

#title {
  font-family: Montserrat, Helvetica, sans-serif;
  padding-left: 250px;
}

#findErrText {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  color: black;
  
  padding-bottom: 0px;
  padding-top: 20px;


}

.tags-find {
  padding-bottom: 1px;
}

.distance-range {
  background-color: aqua;

}



.search {
  padding-left: 70px;
}

.search button {
  border: none;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: medium;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;
  cursor: pointer;
  transition-duration: 0.4s;

}

.distance-range button:hover {

  background-color: darkgoldenrod;
}  