
 
 .main-wrapper-find {

  display: flex;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 20px;
  margin: 0;
background-color: yellow;

}

.column-find {
  float: left;
  padding: 10px;
}

.left-find {
  width: 60%;
background-color: magenta;
  padding-left: 0px;
}

.right-find {
  width: 40%;
  background-color: aqua;
  padding-left: 50px;
  padding-top: 35px;
} 



.row:after {
  content: "";
  display: table;
  clear: both;
}

#find-find{
  height: 80px;
  width: 130px;
  margin: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color:black;
  cursor: pointer;
  transition-duration: 0.4s;

}

#create-find{
  height: 80px;
  width: 130px;
  margin: 0px;
  margin-left: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.4s;

}

#create-find:hover {
  background-color:#CFAE70;
}

#find-find:hover {
  background-color:black;
}

.navButtons-find{
  padding-left: 30px;

}

.slider{
  background-color: magenta;
 
}

#search-button{
  height: 80px;
  width: 130px;
  margin-top: 50px;
  border-radius: 20px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color:black;
  cursor: pointer;
  transition-duration: 0.4s;

}

#title {
  font-family: Montserrat, Helvetica, sans-serif;
  padding-left: 250px;
}

#findErrText {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  color: black;
  background-color: magenta;
  padding-bottom: 0px;
  padding-top: 20px;


}

.tags-find {
  padding-bottom: 1px;
}

.distance-range {
  background-color: aqua;

}



.search {
  padding-left: 70px;
}

.search button {
  border: none;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: medium;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;
  cursor: pointer;
  transition-duration: 0.4s;

}

.distance-range button:hover {

  background-color: darkgoldenrod;
}  