.main-wrapper-create{
  display: flex;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: yellow;



}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 65%;

  padding-left: 0px;
}

.mapButtons {
  padding-left:0px;
  padding-top: 0px;
 float:right;

}

.right {
  width: 35%;

  padding-left: 30px;
  padding-top:35px;
}


.navButtons{
  padding-left: 30px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.map-container {
    height: calc(100vh - 90px);
    width: 60vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 1px;
    padding-left: 0px;

  }
  
  .measuring-tool {
    margin: 20px auto;
    padding-left: 70px;

  }

  
  #create{
    height: 80px;
    width: 130px;
    margin: 0px;
    border-radius: 0px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color:black;
    cursor: pointer;
    transition-duration: 0.4s;

  }

  #find{
    height: 80px;
    width: 130px;
    margin: 0px;
    margin-left: 0px;
    border-radius: 0px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;

  }

  #create:hover {
    background-color:black;
  }

  #find:hover {
    background-color:#CFAE70;
  }

  .reset-button {
    border-color:black;
    width: 100px;
    text-decoration: none;
    font-size: large;
    color: white;
    margin:5px;
    border-radius: 5px;
  
    /* background-color: #6bb8d1; */
    color:black;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    
  }

  .undo-button {
    border-color:black;
    width: 60px;
    text-decoration: none;
    font-size: large;
    color: white;
    margin:5px;
    border-radius: 5px;
  
    /* background-color: #6bb8d1; */
    color:black;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    
  }

  .upload-button {
   border:none;
    text-decoration: none;
    margin:5px;
    font-size: large;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    
  }
  
  .upload-button:hover {
    /* background-color: #437e91; */
    background-color: darkgoldenrod;
  }

  .reset-button:hover {
    background-color: #CFAE70;
  }

  .undo-button:hover {
    background-color: #CFAE70;
  }

  #tagsText{
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    color:black;
    padding-bottom: 0px;
    padding-left: 200px;
  }

  #routeErrText{
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    color:black;
    padding-right: 45px;
   

  }

  .tagButtons{
 
    padding-left: 200px;
   
  }
.name{
  padding-left: 9px;
}
 
  .name input{
    border-radius: 5px;
    padding-left: 0px;
    width: 300px;
    color:black;
    border-color: black;
    
  }
  
 