
@import url('https://fonts.cdnfonts.com/css/yeseva-one');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/anton');
@import url('https://fonts.cdnfonts.com/css/merriweather');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/noto-sans-japanese');
@import url('https://fonts.cdnfonts.com/css/heebo');

.main-section {
  padding-top: 4.5%;
  padding-bottom: none;
  text-align: center;
  font-family:'Bebas Neue', Times, serif;
}

.main-section .cover-heading {
  /* text-align: center;
  font-family: 'Times New Roman', Times, serif; */
  color: #1C1c1c;
  font-size: 15vh;
  text-shadow: none;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0%;
}

.main-section .come-run {
  color: #b59761;
  font-size: 7vh;
  text-shadow: none;
  font-weight: 600;
  font-style: italic;
}

.main-section .meet-exec {
  padding-top: 6%;
}

.main-section .meet-exec button {
  color: #b59761;
  font-family:'Bebas Neue', Times, serif;
  font-weight: 600;
  font-size: 5.5vh;
  background: rgba(255, 251, 251, 0.65);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 15px;
  background-color: rgba(28, 28, 28, .75);
  margin: 20px;
}

.main-section .meet-exec button:hover{
  background-color: rgba(28, 28, 28, .90);
}

@media only screen and (max-width: 950px) {

  .main-section {
    padding-top: 11%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-section .cover-heading {
    font-size: 7.8vh;
  }

  .main-section .come-run {
    font-size: 3.5vh;
    color: #b59761;
  }

  .main-section .meet-exec {
    padding-top: 20%;
  }

  .main-section .meet-exec button {
    font-family:'Bebas Neue', Times, serif;
    font-weight: 600;
    font-size: 4vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 10px;
  }
}
/* Links */
/* a,
a:focus,
a:hover {
  color: black;
} */

/* Custom default button */
/* .btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; */
   /* Prevent inheritence from `body` */
  /* background-color: #fff;
  border: 1px solid #fff;
} */


/*
 * Base structure
 */

/* html,
body {
  height: 100vh;
  background-color: #f5f3ef;
}
body {
  color: black;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
} */

/* Extra markup and styles for table-esque vertical and horizontal centering */
/* .site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #333;
  height: 100%; 
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
} */

/* Padding for spacing */
/* .inner {
  padding: 30px;
} */




/* .main-wrapper {
  width: 100vw;
} */





/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* @media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
} */


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

/* @media (min-width: 768px) {
  /* Pull out the header and footer */
  /* .masthead {
    position: fixed;
    top: 0;
  } */
  /* Start the vertical centering */
  /* .site-wrapper-inner {
    vertical-align: middle;
  }
} */



