
  .tag-wrapper{
    display: flex;
  }
  
  .tag-wrapper button{
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;

  }

  #clear {
    margin-left:30px;
    
  }

  
 