
  .main-wrapper{
    display: flex;
    padding-top: 20px;
  }
  
  .main-wrapper .shady{
    flex: 50%;
    height: 80px;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: purple;
  }

  .main-wrapper button-selected{
    flex: 50%;
    height: 80px;
    color: red;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
  }
  
 