@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.links {
    width: 100%;
    height: 100vh;
    font-family: 'Bebas Neue', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: none;
    display: flex;
    justify-content: center;
  }
 
  .links .connect {
    width: 100%;
    text-align: center;
    font-size: 10vh; 
    padding-top: 6%;
    color: #1c1c1c;
    font-weight: bold;
  }

  .links .linksBelow {
    font-style: italic;
    font-size: 7vh;
    color: #b59761;
    font-weight: bold;
  }

  .links table {
    width: 100%;
    text-align: center;
  }

  .links button{
    font-size: 3vh;
    padding: 20px;
    padding-top: 21px;
    text-decoration: none;
    color: #b59761;
    background-color: rgba(28, 28, 28, .75);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 8%;
  }

  .links button:hover{
    background-color: rgba(28, 28, 28, 1) ;
  }

  @media only screen and (max-width: 950px) {
    .links .connect {
      font-size: 8vh; 
      padding-top: 60px;
    }


  .links .linksBelow {
    font-style: italic;
    font-size: 5vh;
    color: #b59761;
    font-weight: bold;
  }


  }
