@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.links {
    /* padding-top: 2%; */
    width: 100%;
    height: 100vh;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: none;
    display: flex;
    justify-content: center;
  }


  .links thead {
    width: 100vw;
    text-align: center;
    font-size: 30px; 
    padding-top: 100px;
    color: rgb(74, 47, 3);
  }
 
  .links tbody tr{
    padding-top: 30px;
    font-size: 20px;
  }

  .links table {
    border-collapse: separate;
    border-spacing: 0px 30px;
    width: 100%;
    text-align: center;
    margin-top: 35px;
  }

  .links a{
    text-decoration: none;
    color: rgb(74, 47, 3);
    padding: 40px;
  }
