

.run-returns .description {
    background: rgba(255, 251, 251, 0.5);
}

/* .run-returns .description .array p {
    padding: 20px;
} */

.description h1 {
    padding-bottomm: 10px;
    font-size: 10px;
}